
/* body{
    background-color: bisque;
}
#message{
    width: 400px;
    background-color: aquamarine;
    color: blue;
    border: 1px solid red;
    padding: 20px;
    padding: 20px;
    font-size: 18px;
    font-family: Calibri;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}
#message.show{
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
#colour-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: azure;
    -webkit-transition: background 0.7s;
    -moz-transition: background 0.7s;
    transition: background 0.7s;
} */
/* body{
    background-color: antiquewhite;
}
#message{
    width: 400px;
    background-color: bisque;
    color: aqua;
    border: 1px solid red;
    padding: 20px;
    padding: 20px;
    font-size: 18px;
    font-family: Calibri;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}
#message.show{
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
#colour-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: whitesmoke;
    -webkit-transition: background 0.7s;
    -moz-transtion: background 0.7s;
    transition: background 0,7s;
} */
/* body{
    background-color: bisque;
}

#message{
    width: 400px;
    background: chartreuse;
    color: blue;
    border: 1px solid red;
    padding: 20px;
    padding: 20px;
    font-size: 18px;
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
}

#message.show{
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -moz-transition:  opacity 0.7s;
    transition: opacity 0.7s;
} */

